@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<SatisHareket>
@{
    ViewBag.Title = "MusteriSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cari Adı: @ViewBag.cari</li>
</ol>
<table class="table table-bordered">
    <tr>
        <th>Satış ID</th>
        <th>Ürün</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam Tutar</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var a in Model)
    {
        <tr>
            <td>@a.SatisID</td>
            <td>@a.Urun.UrunAd</td>
            <td>@a.Personel.PersonelAd @a.Personel.PersonelSoyad</td>
            <td>@a.Fiyat</td>
            <td>@a.Adet</td>
            <td>@a.ToplamTutar</td>
            <td>@a.Tarih</td>
            <td><a href="#" class="btn btn-default" style="background-color:cadetblue">Yazdır</td>
        </tr>
    }
</table>